#footer
  .footerlinks
    %p
      =link_to "What's New", "http://blog.newhirehq.com/tagged/new-feature"
      \-
      =link_to "Terms of Use", "/terms"
      \-
      =link_to "Privacy Policy", "/privacy"
      \-
      =link_to "Blog", "http://blog.newhirehq.com"
  .footerother
    %p
      %i.icon-heart-empty
      Brought to you by WeaveLabs