.row-fluid#footer
  .footerlinks
    %p
      =link_to "What's New", "http://blog.newhirehq.com/tagged/new-feature"
      \-
      =link_to "Features", "/features"
      \-
      =link_to "Pricing", "/pricing"
      \-
      =link_to "Terms of Use", "/terms"
      \-
      =link_to "Privacy Policy", "/privacy"
      \-
      =link_to "Blog", "http://blog.newhirehq.com"
  .footerother
    %p
      &copy; 2013 
      =link_to "WeaveLabs", "http://weavelabs.com"